* {
  box-sizing: border-box;
  list-style: none;
}
body {
  margin: 0;
  background-color: darkslategrey;
  margin: 20px;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-section {
  width: 50%;
}

#logo {
  max-width: 180px;
}

.nav-item {
  height: 34px;
  opacity: 0.8;
}
.nav-item > a {
  color: white;
  text-decoration: none;
}

.nav-item:hover {
  opacity: 1;
}
.nav-item.active {
  opacity: 1;
  border-bottom: 2px solid wheat;
}
.green {
  color: #06d6a0;
}
