* {
  box-sizing: border-box;
  list-style: none;
  font-family: Sono, "Tilt Neon";
}
body {
  background-color: #141419;
  color: white;
  margin: 20px;
  font-size: 0.9em;
  /* overflow: hidden; */
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.download {
  
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  background-color: #80818450;
  border: 1px solid white;
  border-radius: 5px;
  padding: 7px 15px;
  text-transform: uppercase;
  width: fit-content;
}

.download::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: black;
  transition: width 0.6s ease;
  width: 0;
  color: white;
  z-index: -1;
}

.download:hover::before {
  width: 100%;
}

.open-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 14px;
  border-bottom: 1.5px solid white;
  margin-left: 8px;
  margin-top: -5px;
  
}
.arrow {
  display: block;
  width: 6px;
  height: 6px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg);
}

header {
  margin: 10px auto;
}

.header-section {
  width: 50%;
}

#logo {
  max-width: 180px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
}

.nav-item {
  position: relative;
  width: auto;
  opacity: 0.7;
  cursor: pointer;
  color: white;
  text-decoration: none;
  padding-bottom: 10px;
}

.nav-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-bottom: 2px solid white;
  transition: width 0.6s ease;
  width: 0;
  opacity: 0.8;
}
.nav-item:hover {
  opacity: 1;
}

.nav-item:hover::before {
  width: 100%;
}
.nav-item.active {
  opacity: 1;
  border-bottom: 2px solid white;
}
.green {
  color: #15c498;
}
.green-underline {
  border-bottom: 1px solid #15c498;
}
.main {
  position: relative;
  max-width: 900px;
  margin: 100px auto;
  padding-bottom: 120px;
}
#skills-tools {
  max-width: 900px;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.skills-img{
  display: block;
  width: 50%;
  margin: 0 auto;
}


.skills-left-section .description {
  font-size: 1.4em;
}
.main h1 {
  font-size: 2.6em;
}

.description {
  color: #808184;
}
.tagline {
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 20px;
}
button {
  position: relative;
  background-color: transparent;
  color: white;
  font-size: 1.1em;
  font-weight: "300";
  margin-top: 20px;
  padding: 15px 20px;
  border: 1px solid #15c498;
  border-radius: 5px;
  cursor: pointer;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #15c498;
  transition: width 0.6s ease;
  width: 0;
  z-index: -1;
}

button:hover::before {
  width: 100%;
}

/* Add more .star rules as needed */

/*waves****************************/

.box {
  position: fixed;
  top: 0;
  transform: rotate(80deg);
  left: 0;
}

.wave {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 10%;
  background: #15c49830;
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 7000ms infinite linear;
}

.wave.-three {
  animation: drift 7500ms infinite linear;
  position: fixed;
  background-color: #15c49820;
}

.wave.-two {
  animation: drift 3000ms infinite linear;
  opacity: 0.1;
  background: black;
  position: fixed;
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

/**Scroll Indicator**/
.scroll-indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.arrow-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: arrowDown 1s infinite;
  animation-timing-function: ease-in-out;
}
.arrow-down {
  width: 24px;
  height: 24px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-radius: 2px;
  transform: rotate(45deg);
}
.arrow-down-mini {
  width: 12px;
  height: 12px;
  border-bottom: 1px solid #808184;
  border-right: 1px solid #808184;
  border-radius: 2px;
  transform: rotate(45deg);
}
@keyframes arrowDown {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 12px);
  }
  100% {
    transform: translate(0, 0);
  }
}


/**Shadow title**/
.shadow-title{
  position: relative;
  width: fit-content;
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto;

}

.shadow-title .shadow{
  font-size: 6.8em;
  color: #808184;
  opacity: .1;
}
.shadow-title .title{
  position: absolute;
  font-size: 2.1em;
  top: 25%;
  width: 100%;
  text-align: center;

}

/**SHADOW TITLE**/

/**WHAT I DO ELEMENTS**/

.wid-contianer{
  padding: 0px; 
  margin-top: -70px;
}
.wid-element{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px; 
  height: 180px;
  padding: 16px;
  text-align: center;
  border: 1px solid #808184;
  border-radius: 12px;
  cursor: pointer;

}



.wid-img{
  width: 72px;
  height: 72px; 
}

.wid-title{
  margin-top: 16px;
  font-size: 1.1em;
}
